<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <linkManager defaultProvider="sitecore">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Links.LinkProvider, Sitecore.Kernel"
             addAspxExtension="true"
             alwaysIncludeServerUrl="false"
             encodeNames="true"
             languageEmbedding="asNeeded"
             languageLocation="filePath"
             shortenUrls="true"
             useDisplayName="false" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>