<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- GLIMPSE GET PROFILES TAB DATA
           This pipeline is called when the GetData() method on the SitecoreProfilesTab object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabData is set.
      -->
      <glimpse.GetProfilesTabData>
        <processor type="Sitecore.Glimpse.Pipelines.GetProfilesTabData.GetProfilesModel, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.GetProfilesTabData.LoadProfilesData, Sitecore.Glimpse" />
      </glimpse.GetProfilesTabData>

      <!-- GLIMPSE CONVERT PROFILES MODEL
           This pipeline is called when the Convert() method on the ProfilesModelConverter object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabObject is set.
      -->
      <glimpse.ConvertProfilesModel>
        <processor type="Sitecore.Glimpse.Pipelines.ConvertProfilesModel.InitTabObject, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertProfilesModel.GetProfileSections, Sitecore.Glimpse" />
      </glimpse.ConvertProfilesModel>

      <!-- GLIMPSE GET ANALYTICS TAB DATA
           This pipeline is called when the GetData() method on the SitecoreAnalyticsTab object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabData is set.
      -->
      <glimpse.GetAnalyticsTabData>
        <processor type="Sitecore.Glimpse.Pipelines.GetAnalyticsTabData.GetAnalyticsModel, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.GetAnalyticsTabData.LoadAnalyticsData, Sitecore.Glimpse" />
      </glimpse.GetAnalyticsTabData>

      <!-- GLIMPSE INIT ANALYTICS TAB LAYOUT
           This pipeline is called when the GetLayout() method on the SitecoreAnalyticsTab object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabLayout is set.
      -->
      <glimpse.InitAnalyticsTabLayout>
        <processor type="Sitecore.Glimpse.Pipelines.InitAnalyticsTabLayout.SetSectionHandlers, Sitecore.Glimpse">
          <sections hint="list:AddSectionName">
            <section>Geo IP</section>
            <section>Visitor</section>
            <section>Browser</section>
            <section>Current Visit</section>
            <section>General</section>
          </sections>
        </processor>
        <processor type="Sitecore.Glimpse.Pipelines.InitAnalyticsTabLayout.SetGoalsSectionHandlers, Sitecore.Glimpse">
          <sections hint="list:AddSectionName">
            <section>Goals</section>
          </sections>
        </processor>
        <processor type="Sitecore.Glimpse.Pipelines.InitAnalyticsTabLayout.InitTabLayout, Sitecore.Glimpse" />
      </glimpse.InitAnalyticsTabLayout>

      <!-- GLIMPSE CONVERT ANALYTICS MODEL
           This pipeline is called when the Convert() method on the AnalyticsModelConverter object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabObject is set.
      -->
      <glimpse.ConvertAnalyticsModel>
        <processor type="Sitecore.Glimpse.Pipelines.ConvertAnalyticsModel.InitTabObject, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertAnalyticsModel.GetGeoIpSection, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertAnalyticsModel.GetVisitorSection, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertAnalyticsModel.GetGoalsSection, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertAnalyticsModel.GetBrowserSection, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertAnalyticsModel.GetCurrentVisitSection, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertAnalyticsModel.GetGeneralSection, Sitecore.Glimpse" />
      </glimpse.ConvertAnalyticsModel>

      <!-- GLIMPSE GET CONTEXT TAB DATA
           This pipeline is called when the GetData() method on the SitecoreContextTab object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabData is set.
      -->
      <glimpse.GetContextTabData>
        <processor type="Sitecore.Glimpse.Pipelines.GetContextTabData.GetContextModel, Sitecore.Glimpse" />
      </glimpse.GetContextTabData>

      <!-- GLIMPSE INIT CONTEXT TAB LAYOUT
           This pipeline is called when the GetLayout() method on the SitecoreContextTab object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabLayout is set.
      -->
      <glimpse.InitContextTabLayout>
        <processor type="Sitecore.Glimpse.Pipelines.InitContextTabLayout.SetSectionHandlers, Sitecore.Glimpse">
          <sections hint="list:AddSectionName">
            <section>General</section>
            <section>Item</section>
            <section>User</section>
            <section>Profile</section>
          </sections>
        </processor>
        <processor type="Sitecore.Glimpse.Pipelines.InitContextTabLayout.InitTabLayout, Sitecore.Glimpse" />
      </glimpse.InitContextTabLayout>

      <!-- GLIMPSE CONVERT CONTEXT MODEL
           This pipeline is called when the Convert() method on the ContextModelConverter object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabObject is set.
      -->
      <glimpse.ConvertContextModel>
        <processor type="Sitecore.Glimpse.Pipelines.ConvertContextModel.InitTabObject, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertContextModel.GetGeneralSection, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertContextModel.GetItemSection, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertContextModel.GetUserSection, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertContextModel.GetProfileSection, Sitecore.Glimpse" />
      </glimpse.ConvertContextModel>

      <!-- GLIMPSE GET PAGE TAB DATA
           This pipeline is called when the GetData() method on the SitecorePageTab object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabData is set.
      -->
      <glimpse.GetPageTabData>
        <processor type="Sitecore.Glimpse.Pipelines.GetPageTabData.GetPageModel, Sitecore.Glimpse" />
      </glimpse.GetPageTabData>

      <!-- GLIMPSE INIT PAGE TAB LAYOUT
           This pipeline is called when the GetLayout() method on the SitecorePageTab object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabLayout is set.
      -->
      <glimpse.InitPageTabLayout>
        <processor type="Sitecore.Glimpse.Pipelines.InitPageTabLayout.SetSectionHandlers, Sitecore.Glimpse">
          <sections hint="list:AddSectionName">
            <section>General</section>
          </sections>
        </processor>
        <processor type="Sitecore.Glimpse.Pipelines.InitPageTabLayout.SetRenderingsSectionHandlers, Sitecore.Glimpse">
          <sections hint="list:AddSectionName">
            <section>Renderings</section>
          </sections>
        </processor>
        <processor type="Sitecore.Glimpse.Pipelines.InitPageTabLayout.InitTabLayout, Sitecore.Glimpse" />
      </glimpse.InitPageTabLayout>

      <!-- GLIMPSE CONVERT PAGE MODEL
           This pipeline is called when the Convert() method on the ContextPageConverter object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabObject is set.
      -->
      <glimpse.ConvertPageModel>
        <processor type="Sitecore.Glimpse.Pipelines.ConvertPageModel.InitTabObject, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertPageModel.GetGeneralSection, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertPageModel.GetRenderingsSection, Sitecore.Glimpse" />
      </glimpse.ConvertPageModel>

      <!-- GLIMPSE GET MVC PAGE TAB DATA
           This pipeline is called when the GetData() method on the SitecorePageTab object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabData is set.
      -->
      <glimpse.GetMvcPageTabData>
        <processor type="Sitecore.Glimpse.Pipelines.GetMvcPageTabData.GetMvcPageModel, Sitecore.Glimpse" />
      </glimpse.GetMvcPageTabData>

      <!-- GLIMPSE INIT MVC PAGE TAB LAYOUT
           This pipeline is called when the GetLayout() method on the SitecorePageTab object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabLayout is set.
      -->
      <glimpse.InitMvcPageTabLayout>
        <processor type="Sitecore.Glimpse.Pipelines.InitMvcPageTabLayout.SetSectionHandlers, Sitecore.Glimpse">
          <sections hint="list:AddSectionName">
            <section>General</section>
          </sections>
        </processor>
        <processor type="Sitecore.Glimpse.Pipelines.InitMvcPageTabLayout.SetRenderingsSectionHandlers, Sitecore.Glimpse">
          <sections hint="list:AddSectionName">
            <section>Renderings</section>
          </sections>
        </processor>
        <processor type="Sitecore.Glimpse.Pipelines.InitMvcPageTabLayout.InitTabLayout, Sitecore.Glimpse" />
      </glimpse.InitMvcPageTabLayout>

      <!-- GLIMPSE CONVERT MVC PAGE MODEL
           This pipeline is called when the Convert() method on the ContextPageConverter object is called.
           Arguments    : none
           Output       : The result of this pipeline running is that args.TabObject is set.
      -->
      <glimpse.ConvertMvcPageModel>
        <processor type="Sitecore.Glimpse.Pipelines.ConvertMvcPageModel.InitTabObject, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertMvcPageModel.GetGeneralSection, Sitecore.Glimpse" />
        <processor type="Sitecore.Glimpse.Pipelines.ConvertMvcPageModel.GetRenderingsSection, Sitecore.Glimpse" />
      </glimpse.ConvertMvcPageModel>
    </pipelines>
  </sitecore>
</configuration>