<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <itemWebApiRequest>
        <processor patch:before="*[@type='Sitecore.ItemWebApi.Pipelines.Request.SerializeResponse, Sitecore.ItemWebApi']" type="CoreLib.WebItemAPI.SwitchToXmlSerializer,CoreLib" />
      </itemWebApiRequest>
    </pipelines>
  </sitecore>
</configuration>
